<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto-IFCE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <div class="principal-container">
        <div class="header-container">
            <div class="top-header">
                <p>Projeto-IFCE</p>
            </div>
                <nav class="nav-bar">
                                            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">Projeto-IFCE</a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                                </li>
                                <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown link
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                                </li>
                            </ul>
                            </div>
                        </div>
                        </nav>
                </nav>
        </div>
            <div class="main-content">
                <div class="principal-main">
                    <h2>Principal Content</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae iaculis nunc. Donec vel consectetur mauris, ut pulvinar nibh. Nam dolor metus, pulvinar in dui et, cursus ornare nisl. Nam ut orci et quam gravida mollis vel in neque. Nullam tellus ligula, feugiat in nunc non, molestie finibus velit. Aliquam ac tempus eros, in commodo leo. Praesent iaculis nulla a sapien vehicula, id tincidunt arcu vulputate. Vivamus a tellus eget arcu elementum egestas in ac ex. Nunc ultrices mauris sem, sit amet suscipit orci egestas sed. Quisque pellentesque nisl sit amet risus pulvinar, vulputate ultricies elit blandit. Nulla ut imperdiet velit. Nunc odio libero, commodo vitae sollicitudin ut, egestas sit amet turpis.</p>
                    <p>Phasellus elementum ultrices erat et viverra. Proin sed volutpat nibh. Mauris et ipsum quis leo auctor interdum. Praesent semper id libero id facilisis. Praesent id nulla aliquam, blandit quam et, fringilla quam. Vestibulum varius mi vel mi porta, id convallis dui ullamcorper. Vestibulum sollicitudin risus in ante mollis sodales.</p>
                    <p>Praesent libero massa, eleifend in mollis eget, volutpat ut nisi. Integer volutpat neque dignissim mattis dignissim. Duis ut est ac velit sollicitudin facilisis. Sed tincidunt bibendum dolor in elementum. Proin hendrerit bibendum lacus non mattis. Aenean egestas pellentesque metus, nec pulvinar erat consequat non. Duis nec orci interdum dolor consectetur venenatis. Vivamus diam libero, pellentesque ac orci eu, tincidunt fringilla enim. Nam sed tellus volutpat, porta diam non, cursus sem. Quisque euismod, dolor non vulputate pellentesque, ligula metus faucibus turpis, in finibus urna urna ac magna. In lectus elit, viverra ac auctor ut, aliquet non ligula. Aliquam sapien orci, luctus vitae dui at, sagittis maximus massa.</p>
                   
                </div>
                <aside class="aside-container">
                    <div class="secondary-content">
                        <p>minha secondary content</p>
                    </div>
                    <div class="tertiary-content">
                        <p>minha tertiary content</p>
                    </div>
                </aside>
            </div>
            <footer>
                <p>minha footer</p>
            </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>